*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, a, li{
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

svg, img{
    width: 100%;
    object-fit: cover;
    background-size: cover;
}

body{
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    background: linear-gradient(125deg, rgb(0, 54, 230) 5%, rgb(0, 0, 0)50%, rgb(76, 0, 255) 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}